<div class="flex min-w-[90%] justify-center rounded">
  <table class="shadow mt-10 mb-5">
    <thead>
      <tr class="bg-gray-200">
        <th class="border-b p-2">Nº Albaran</th>
        <th class="border-b p-2">Lote</th>
        <th class="border-b p-2">Bultos</th>
        <th class="border-b p-2">Producto</th>
        <th class="border-b p-2">Peso Bruto</th>
        <th class="border-b p-2">Uds</th>
        <th class="border-b p-2">Peso Caja</th>
        <th class="border-b p-2">Peso Palet</th>
        <th class="border-b p-2">Peso Neto</th>
        <th class="border-b p-2">Precio</th>
        <th class="border-b p-2">Total</th>
        <th class="border-b p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of dataAlbaran; let i = index"
        class="{{ i % 2 === 0 ? 'bg-gray-100' : 'bg-white' }} text-center"
      >
        <td class="p-2">{{ item.numAlbaran }}</td>
        <td class="p-2">{{ item.lote }}</td>
        <td class="p-2">{{ item.bulto }}</td>
        <td class="p-2">{{ item.producto }}</td>
        <td class="p-2">{{ item.kilosB }}</td>
        <td class="p-2">{{ item.cantidad }}</td>
        <td class="p-2">{{ item.kilosC }}</td>
        <td class="p-2">{{ item.kilosP }}</td>
        <td class="p-2">{{ item.kilosN }}</td>
        <td class="p-2">{{ item.precio }}€</td>
        <td class="p-2">{{ item.importe }}€</td>
        <td class="p-2 flex gap-2">
          <button (click)="actualizarItem(item, i)">
            <ion-icon name="pencil-outline"></ion-icon>
          </button>
          <button (click)="eliminarItem(item, i)">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
