<ion-content>
  <app-menu></app-menu>
  <div class="absolute top-16 right-2"></div>

  <div class="pt-5 pl-5">
    <app-year-button (year)="changeYear($event)"></app-year-button>
  </div>
  <div class="flex justify-center">
    <div
      class="flex flex-col w-60 rounded-md h-60 max-h-60 border shadow-xl p-4 overflow-y-auto"
    >
      <div *ngFor="let elemento of albaranes" class="mb-4 flex flex-col">
        <label class="flex items-center space-x-2 cursor-pointer">
          <input
            type="checkbox"
            [value]="elemento.numAlbaran"
            (change)="onCheckboxChange(elemento)"
            class="form-checkbox text-blue-500"
          />
          <span class="text-gray-800"
            >Nº de albaran: {{ elemento.numAlbaran }}</span
          >
        </label>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-5">
    <label for="cient">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="cliente">
        Cliente
      </label>
      <select
        id="cliente"
        [(ngModel)]="clienteSelected"
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-44"
        (change)="onClientSelected()"
      >
        <option *ngFor="let cliente of clientes" [value]="cliente.name">
          {{ cliente.name }}
        </option>
      </select>
    </label>
  </div>
  <div class="flex gap-2 justify-center mt-5">
    <button
      class="bg-blue-500 px-4 py-2 rounded max-w-48 hover:bg-blue-600 transition-colors duration-300 text-white"
      (click)="enviarDatosABaseDeDatos()"
    >
      Recuperar albaranes seleccionados
    </button>
    <button
      (click)="generarPDF()"
      class="bg-blue-500 px-4 py-2 rounded max-w-48 hover:bg-blue-600 transition-colors duration-300 text-white"
    >
      Generar PDF
    </button>
  </div>

  @if(informations){

  <app-table [dataAlbaran]="informations"></app-table>
  <div class="flex flex-col gap-2 items-center">
    <p>Total bruto:{{bruto |number:"1.2-2"}}</p>
    <p>Descuento:{{descuento |number:"1.2-2"}}</p>
    <p>Total neto:{{neto |number:"1.2-2"}}</p>
  </div>
  }
</ion-content>
