<ion-content>
  <app-menu></app-menu>
  <app-year-button (year)="changeYear($event)"></app-year-button>
  <div class="relative">
    <h2 class="text-5xl text-center">Albaranes</h2>
    <ion-icon
      name="add-circle-outline"
      class="text-6xl absolute top-0 text-slate-700 cursor-pointer"
      routerLink="/generar-albaran"
    ></ion-icon>
  </div>
  <div class="flex justify-center mt-10">
    <div class="w-[85.5%] flex justify-center flex-wrap gap-4">
      <div
        *ngFor="let item of albaran; let i = index"
        class="border-2 rounded shadow-xl w-90 p-4 cursor-pointer"
        [routerLink]="['/modify-albaran', { id: item.numAlbaran,year:item.year }]"
      >
        <p class="font-bold">Nº de Albarán: {{ item.numAlbaran }}</p>
        <p>Fecha de Creación: {{ item.date | date:'yyyy-MM-dd' }}</p>
      </div>
    </div>
  </div>
</ion-content>
